{% extends 'base_app.html' %}

{% block title %}Выбрать пользователя{% endblock %}

{% block header %}
    Выбрать пользователся, и показать информацию о нем
    <button class="salam" onclick="document.location='{% url 'reload_start'%}'">Назад</button>
{% endblock %}

{% block content %}
    <p>Выберите сотрудника:</p>
    <button type="submit" id="selectuser" name="select">Выбрать</button>
    <p>Показать информацию о сотруднике</p>
    <form class="get_info" action="{% url 'select_user' %}" method="post">
        <button disabled type="submit" id="getinfo" name="info">Показать информацию</button>
    </form>
    {% if userinfo %}
        <table>
            <thead>
              <tr>
                <th>Название поля</th>
                <th>Инфо</th>
              </tr>
            </thead>
            <tbody>
                {% for key, value in userinfo.items %}
                    <tr>
                        {% if key == 'NAME' %}
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        {% endif %}
                        {% if key == 'LAST_NAME' %}
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        {% endif %}
                        {% if key == 'PERSONAL_GENDER' %}
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        {% endif %}
                        {% if key == 'EMAIL' %}
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        {% endif %}
                        {% if key == 'IS_ONLINE' %}
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        {% endif %}
                        {% if key == 'LAST_ACTIVITY_DATE' %}
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div id="myGrid"></div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    {% load static %}
    <script src="//api.bitrix24.com/api/v1/"></script>
    <script src="{% static 'js/select_user.js' %}"></script>
    <script>
        const user = {{ userinfo }}
        let gridOptions = {
            defaultColDef: {
                floatingFilter: true,
                resizable: true,
                sortable: true,
                filter: true,
                autoHeight: true,
            },
            columnDefs: [
                {headerName: 'Имя', field: 'NAME'},
                {headerName:'Фамилия', field: 'LAST_NAME'},
                {headerName: 'ID', field: 'ID'},
                {headerName: 'EMAIL', field: 'EMAIL'}
            ],
            rowData: user,
            sideBar: true,
            onGridReady: function(params) {
                params.columnApi.autoSizeAllColumns();
            }

        }
        const myGrid = document.querySelector('#myGrid');
        agGrid.createGrid(myGrid, gridOptions);
    </script>
{% endblock %}